{% extends "layout.html" %}

{% block body %}
<p>At ToKa Fitness, we strive to be able to make sure that you are in the best physical condition that you can possibly be. To do this, we have some pre-set workout routines for you to start using, including specific types of training to fit your needs.</p>
<p>This includes calisthenics, strength, cardio, hypertrophy, and endurance. With this selection of workouts, it gives you the opportunity to be able to complete workouts. To start your workouts, just create an account and you will be able to see your workouts</p>
<p>and begin your workout routines and transformation journey.</p>
{% endblock %}