{% extends "layout.html" %}

{% block body %}


<head>
    <link rel="stylesheet" href="{{url_for('static', filename='bmi-styles.css')}}">
</head>

<body>
    <main>
        <script defer src="{{url_for('static', filename='bmi-scripts.js')}}"></script>
        <div></div>
        <div>
            <h1>BMI Calculator</h1>
            <p>This is a calculator used to work out your BMI. <strong>Please keep in mind that BMI is a bad way of measuring health and does not take variables like muscle into account. You may appear as obese even if you are healthy if you have a lot of muscle.</strong></p>

            <div id="bmi-container">
                <p>Enter your height in cm: </p><input id="height-entry" type="number" value=""></input>
                <p>Enter your weight in kg: </p><input id="weight-entry" type="number" value=""></input>
                <p id="display-bmi">Your BMI index is: 0</p>
            </div>
        </div>
        <div></div>
    </main>
</body>

{% endblock %}

<!--

<div>
    <div>
        <img src="" alt="">
    </div>
    <nav>

    </nav>
    <div>
        login signup
    </div>
</div>

<body>
    <header></header>
    <main>
        <nav></nav>
    </main>
    <footer></footer>
</body>