{% extends "layout.html" %}

{% block body %}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='index-styles.css')}}" aria-disabled="true">
</head>

<body>
    <main>
        <div id="left-main-border"></div>
        <div id="main-content">
            <h1>Welcome to ToKa Fitness</h1>

            <p>ToKa Fitness is a comprehensive fitness company that empowers individuals to reach their full potential through personalized fitness journeys, education, and community support. The company offers a range of services, including one-on-one coaching with certified trainers,
                high-energy group fitness classes, customized nutrition planning, and holistic wellness coaching. Members have access to a state-of-the-art gym, group fitness studio, and private coaching rooms, as well as online resources featuring workout tutorials, nutrition guides,
                and wellness tips. The company fosters a supportive environment, hosting regular workshops and seminars on topics such as nutrition and mindfulness, and organizes fun, fitness-related social events. The team consists of certified trainers, registered dietitians, and 
                wellness coaches who are passionate about helping others achieve their fitness goals and overall well-being. So do it with us as....</p>


            <h2>Fitness is fun together</h2>
        </div>
        <div id="right-main-border"></div>
    </main>

</body>





{% endblock %}