<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='Layout-styles.css')}}">
    <title>ToKa Fitness</title>

</head>
<body>

    <header>
        <div>
            <img id="logo1" src="{{url_for('static', filename=('Logo.png'))}}">
        </div>

        <div class="navbar_middle">
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('about')}}">About</a>
            <a href="{{url_for('bmi')}}">BMI Calculator</a>
            <a href="{{url_for('workplan')}}">Workout Plans</a>
        </div>
    
        <div class="Login_Signup">
            <a id="Login and Sign Up" href="{{url_for('login')}}">Log In and Sign Up</a>
        </div>
    
    </header>
    {% block body %}{% endblock %}
    <footer><p id="footP">© 2055 ToKa Fitness</p></footer>
</body>
</html>