{% extends "layout.html" %}

{% block body %}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='login-styles.css')}}" aria-disabled="true">
</head>
    
<body>
    <main>
        <div id="main-container">
            <div>
                <h1>Login Page</h1>
            </div>
            <div>
                <h2>Log-in</h2>
                <form method="POST" class="form-container">
                    <label for="username">Username: </label>
                    <input type="text" name="username" placeholder="Your username">
                    <label for="password">Password: </label>                    
                    <input type="password" name="password" class="last-input" placeholder="Your password">
                    <button type="submit">Log-in</button>
                </form>
            </div>
            <div>
                <h2>Sign-up</h2>
                <form method="POST" class="form-container">
                    <label for="username">Username: </label>
                    <input type="text" name="username" placeholder="Your username">
                    <label for="password">Password: </label>
                    <input type="password" name="password" class="last-input" placeholder="Your password">
                    <button type="submit">Sign-up</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
{% endblock %}